@keyframes bgcoloranimation {
  0% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      35deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  1% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      34deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  2% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      33deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  3% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      32deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  4% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      31deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  5% {
    background: #0c0c0c;
    background: linear-gradient(
      30deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  6% {
    background: #0c0c0c;
    background: linear-gradient(
      29deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  7% {
    background: #0c0c0c;
    background: linear-gradient(
      28deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  8% {
    background: #0c0c0c;
    background: linear-gradient(
      27deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  9% {
    background: #0c0c0c;
    background: linear-gradient(
      26deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  10% {
    background: #0c0c0c;
    background: linear-gradient(
      25deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }

  11% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      24deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  12% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      23deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  13% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      22deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  14% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      21deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  15% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      20deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  16% {
    background: #0c0c0c;
    background: linear-gradient(
      19deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  17% {
    background: #0c0c0c;
    background: linear-gradient(
      18deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  18% {
    background: #0c0c0c;
    background: linear-gradient(
      17deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  19% {
    background: #0c0c0c;
    background: linear-gradient(
      16deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  20% {
    background: #0c0c0c;
    background: linear-gradient(
      15deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  21% {
    background: #0c0c0c;
    background: linear-gradient(
      14deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  22% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      13deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  23% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      12deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  24% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      11deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  25% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      10deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  26% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      9deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  27% {
    background: #0c0c0c;
    background: linear-gradient(
      8deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  28% {
    background: #0c0c0c;
    background: linear-gradient(
      7deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  29% {
    background: #0c0c0c;
    background: linear-gradient(
      6deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  30% {
    background: #0c0c0c;
    background: linear-gradient(
      5deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  31% {
    background: #0c0c0c;
    background: linear-gradient(
      4deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  32% {
    background: #0c0c0c;
    background: linear-gradient(
      3deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }

  33% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      2deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  34% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      1deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  35% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      0deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  36% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      -1deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  37% {
    //background: red;
    background: #0c0c0c;
    background: linear-gradient(
      -2deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  38% {
    background: #0c0c0c;
    background: linear-gradient(
      -3deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  39% {
    background: #0c0c0c;
    background: linear-gradient(
      -4deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  40% {
    background: #0c0c0c;
    background: linear-gradient(
      -5deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  41% {
    background: #0c0c0c;
    background: linear-gradient(
      -6deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  42% {
    background: #0c0c0c;
    background: linear-gradient(
      -7deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  43% {
    background: #0c0c0c;
    background: linear-gradient(
      -8deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  44% {
    background: #0c0c0c;
    background: linear-gradient(
      -9deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  45% {
    background: #0c0c0c;
    background: linear-gradient(
      -10deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  46% {
    background: #0c0c0c;
    background: linear-gradient(
      -11deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  47% {
    background: #0c0c0c;
    background: linear-gradient(
      -12deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  48% {
    background: #0c0c0c;
    background: linear-gradient(
      -13deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  49% {
    background: #0c0c0c;
    background: linear-gradient(
      -14deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  50% {
    background: #0c0c0c;
    background: linear-gradient(
      -15deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  51% {
    background: #0c0c0c;
    background: linear-gradient(
      -16deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  52% {
    background: #0c0c0c;
    background: linear-gradient(
      -17deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  53% {
    background: #0c0c0c;
    background: linear-gradient(
      -18deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  54% {
    background: #0c0c0c;
    background: linear-gradient(
      -19deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  55% {
    background: #0c0c0c;
    background: linear-gradient(
      -20deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  56% {
    background: #0c0c0c;
    background: linear-gradient(
      -21deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  57% {
    background: #0c0c0c;
    background: linear-gradient(
      -22deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  58% {
    background: #0c0c0c;
    background: linear-gradient(
      -23deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  59% {
    background: #0c0c0c;
    background: linear-gradient(
      -24deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  60% {
    background: #0c0c0c;
    background: linear-gradient(
      -25deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  61% {
    background: #0c0c0c;
    background: linear-gradient(
      -26deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  62% {
    background: #0c0c0c;
    background: linear-gradient(
      -27deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  63% {
    background: #0c0c0c;
    background: linear-gradient(
      -28deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  64% {
    background: #0c0c0c;
    background: linear-gradient(
      -29deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  65% {
    background: #0c0c0c;
    background: linear-gradient(
      -30deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  66% {
    background: #0c0c0c;
    background: linear-gradient(
      -31deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  67% {
    background: #0c0c0c;
    background: linear-gradient(
      -32deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  68% {
    background: #0c0c0c;
    background: linear-gradient(
      -33deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  69% {
    background: #0c0c0c;
    background: linear-gradient(
      -34deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  70% {
    background: #0c0c0c;
    background: linear-gradient(
      -35deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  71% {
    background: #0c0c0c;
    background: linear-gradient(
      -36deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  72% {
    background: #0c0c0c;
    background: linear-gradient(
      -37deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  73% {
    background: #0c0c0c;
    background: linear-gradient(
      -38deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  74% {
    background: #0c0c0c;
    background: linear-gradient(
      -39deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  75% {
    background: #0c0c0c;
    background: linear-gradient(
      -40deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  76% {
    background: #0c0c0c;
    background: linear-gradient(
      -41deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  77% {
    background: #0c0c0c;
    background: linear-gradient(
      -42deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  78% {
    background: #0c0c0c;
    background: linear-gradient(
      -43deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  79% {
    background: #0c0c0c;
    background: linear-gradient(
      -44deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  80% {
    background: #0c0c0c;
    background: linear-gradient(
      -45deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  81% {
    background: #0c0c0c;
    background: linear-gradient(
      -46deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  82% {
    background: #0c0c0c;
    background: linear-gradient(
      -47deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  83% {
    background: #0c0c0c;
    background: linear-gradient(
      -48deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  84% {
    background: #0c0c0c;
    background: linear-gradient(
      -49deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  85% {
    background: #0c0c0c;
    background: linear-gradient(
      -50deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  86% {
    background: #0c0c0c;
    background: linear-gradient(
      -51deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  87% {
    background: #0c0c0c;
    background: linear-gradient(
      -52deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  88% {
    background: #0c0c0c;
    background: linear-gradient(
      -53deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  90% {
    background: #0c0c0c;
    background: linear-gradient(
      -54deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  91% {
    background: #0c0c0c;
    background: linear-gradient(
      -55deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  92% {
    background: #0c0c0c;
    background: linear-gradient(
      -56deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  93% {
    background: #0c0c0c;
    background: linear-gradient(
      -59deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  94% {
    background: #0c0c0c;
    background: linear-gradient(
      -60deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  95% {
    background: #0c0c0c;
    background: linear-gradient(
      -61deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  96% {
    background: #0c0c0c;
    background: linear-gradient(
      -62deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  97% {
    background: #0c0c0c;
    background: linear-gradient(
      -63deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  98% {
    background: #0c0c0c;
    background: linear-gradient(
      -64deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  99% {
    background: #0c0c0c;
    background: linear-gradient(
      -65deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
  100% {
    background: #0c0c0c;
    background: linear-gradient(
      -66deg,
      rgba(#0c0c0c, 0.95) 55%,
      rgba(#495057, 0.96) 100%
    );
  }
}
@keyframes bgcoloranimation_light {
  0% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      35deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  1% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      34deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  2% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      33deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  3% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      32deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  4% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      31deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  5% {
    background: #d3e3fc;
    background: linear-gradient(
      30deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  6% {
    background: #d3e3fc;
    background: linear-gradient(
      29deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  7% {
    background: #d3e3fc;
    background: linear-gradient(
      28deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  8% {
    background: #d3e3fc;
    background: linear-gradient(
      27deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  9% {
    background: #d3e3fc;
    background: linear-gradient(
      26deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  10% {
    background: #d3e3fc;
    background: linear-gradient(
      25deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }

  11% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      24deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  12% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      23deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  13% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      22deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  14% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      21deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  15% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      20deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  16% {
    background: #d3e3fc;
    background: linear-gradient(
      19deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  17% {
    background: #d3e3fc;
    background: linear-gradient(
      18deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  18% {
    background: #d3e3fc;
    background: linear-gradient(
      17deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  19% {
    background: #d3e3fc;
    background: linear-gradient(
      16deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  20% {
    background: #d3e3fc;
    background: linear-gradient(
      15deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  21% {
    background: #d3e3fc;
    background: linear-gradient(
      14deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  22% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      13deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  23% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      12deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  24% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      11deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  25% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      10deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  26% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      9deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  27% {
    background: #d3e3fc;
    background: linear-gradient(
      8deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  28% {
    background: #d3e3fc;
    background: linear-gradient(
      7deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  29% {
    background: #d3e3fc;
    background: linear-gradient(
      6deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  30% {
    background: #d3e3fc;
    background: linear-gradient(
      5deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  31% {
    background: #d3e3fc;
    background: linear-gradient(
      4deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  32% {
    background: #d3e3fc;
    background: linear-gradient(
      3deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }

  33% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      2deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  34% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      1deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  35% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      0deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  36% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      -1deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  37% {
    //background: red;
    background: #d3e3fc;
    background: linear-gradient(
      -2deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  38% {
    background: #d3e3fc;
    background: linear-gradient(
      -3deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  39% {
    background: #d3e3fc;
    background: linear-gradient(
      -4deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  40% {
    background: #d3e3fc;
    background: linear-gradient(
      -5deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  41% {
    background: #d3e3fc;
    background: linear-gradient(
      -6deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  42% {
    background: #d3e3fc;
    background: linear-gradient(
      -7deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  43% {
    background: #d3e3fc;
    background: linear-gradient(
      -8deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  44% {
    background: #d3e3fc;
    background: linear-gradient(
      -9deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  45% {
    background: #d3e3fc;
    background: linear-gradient(
      -10deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  46% {
    background: #d3e3fc;
    background: linear-gradient(
      -11deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  47% {
    background: #d3e3fc;
    background: linear-gradient(
      -12deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  48% {
    background: #d3e3fc;
    background: linear-gradient(
      -13deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  49% {
    background: #d3e3fc;
    background: linear-gradient(
      -14deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  50% {
    background: #d3e3fc;
    background: linear-gradient(
      -15deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  51% {
    background: #d3e3fc;
    background: linear-gradient(
      -16deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  52% {
    background: #d3e3fc;
    background: linear-gradient(
      -17deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  53% {
    background: #d3e3fc;
    background: linear-gradient(
      -18deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  54% {
    background: #d3e3fc;
    background: linear-gradient(
      -19deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  55% {
    background: #d3e3fc;
    background: linear-gradient(
      -20deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  56% {
    background: #d3e3fc;
    background: linear-gradient(
      -21deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  57% {
    background: #d3e3fc;
    background: linear-gradient(
      -22deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  58% {
    background: #d3e3fc;
    background: linear-gradient(
      -23deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  59% {
    background: #d3e3fc;
    background: linear-gradient(
      -24deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  60% {
    background: #d3e3fc;
    background: linear-gradient(
      -25deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  61% {
    background: #d3e3fc;
    background: linear-gradient(
      -26deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  62% {
    background: #d3e3fc;
    background: linear-gradient(
      -27deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  63% {
    background: #d3e3fc;
    background: linear-gradient(
      -28deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  64% {
    background: #d3e3fc;
    background: linear-gradient(
      -29deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  65% {
    background: #d3e3fc;
    background: linear-gradient(
      -30deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  66% {
    background: #d3e3fc;
    background: linear-gradient(
      -31deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  67% {
    background: #d3e3fc;
    background: linear-gradient(
      -32deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  68% {
    background: #d3e3fc;
    background: linear-gradient(
      -33deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  69% {
    background: #d3e3fc;
    background: linear-gradient(
      -34deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  70% {
    background: #d3e3fc;
    background: linear-gradient(
      -35deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  71% {
    background: #d3e3fc;
    background: linear-gradient(
      -36deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  72% {
    background: #d3e3fc;
    background: linear-gradient(
      -37deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  73% {
    background: #d3e3fc;
    background: linear-gradient(
      -38deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  74% {
    background: #d3e3fc;
    background: linear-gradient(
      -39deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  75% {
    background: #d3e3fc;
    background: linear-gradient(
      -40deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  76% {
    background: #d3e3fc;
    background: linear-gradient(
      -41deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  77% {
    background: #d3e3fc;
    background: linear-gradient(
      -42deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  78% {
    background: #d3e3fc;
    background: linear-gradient(
      -43deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  79% {
    background: #d3e3fc;
    background: linear-gradient(
      -44deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  80% {
    background: #d3e3fc;
    background: linear-gradient(
      -45deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  81% {
    background: #d3e3fc;
    background: linear-gradient(
      -46deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  82% {
    background: #d3e3fc;
    background: linear-gradient(
      -47deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  83% {
    background: #d3e3fc;
    background: linear-gradient(
      -48deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  84% {
    background: #d3e3fc;
    background: linear-gradient(
      -49deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  85% {
    background: #d3e3fc;
    background: linear-gradient(
      -50deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  86% {
    background: #d3e3fc;
    background: linear-gradient(
      -51deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  87% {
    background: #d3e3fc;
    background: linear-gradient(
      -52deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  88% {
    background: #d3e3fc;
    background: linear-gradient(
      -53deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  90% {
    background: #d3e3fc;
    background: linear-gradient(
      -54deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  91% {
    background: #d3e3fc;
    background: linear-gradient(
      -55deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  92% {
    background: #d3e3fc;
    background: linear-gradient(
      -56deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  93% {
    background: #d3e3fc;
    background: linear-gradient(
      -59deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  94% {
    background: #d3e3fc;
    background: linear-gradient(
      -60deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  95% {
    background: #d3e3fc;
    background: linear-gradient(
      -61deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  96% {
    background: #d3e3fc;
    background: linear-gradient(
      -62deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  97% {
    background: #d3e3fc;
    background: linear-gradient(
      -63deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  98% {
    background: #d3e3fc;
    background: linear-gradient(
      -64deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  99% {
    background: #d3e3fc;
    background: linear-gradient(
      -65deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
  100% {
    background: #d3e3fc;
    background: linear-gradient(
      -66deg,
      rgba(#d3e3fc, 0.95) 55%,
      rgba(#f8f9fa, 0.96) 100%
    );
  }
}
