//Gradient mixin
@mixin gradient($start, $end) {
  background: $start;
  background: linear-gradient(
    35deg,
    rgba($start, 0.95) 55%,
    rgba($end, 0.96) 100%
  );
}

//Absolute center
@mixin absoluteCenter {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: rotate(190deg);
}

//Text limiter
@mixin textLimit($lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}
