@import "./../custom_styles/custom";

//Navbar
.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  font-weight: 700;
}

.display-2 {
  margin-bottom: 1rem;
  // text-transform: capitalize;
  font-family: "Poppins", sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    text-transform: none;
  }
}

.intro-section {
  .btn-rounded {
    background-color: $light-green-color;
    color: $primary;
  }
}

//About
.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $light-green-color;
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: $light-green-color;
}

.display-2 {
  &--about_me {
    display: block;
    margin-top: 1.2rem;
    font-size: 1.1rem;
    text-transform: none;
    text-align: justify;
    text-justify: newspaper;
  }
}
.about-me {
  font-family: "Merriweather", serif;

  .image_container {
    border-radius: 200%;
    margin: 0 auto;
    max-height: 100%;
  }
}
