
@use './../custom_styles/custom' as *;
@use './../components/mixins' as *;

._navbar{
 @include gradient($primary, $secondary);

li{
 list-style-type:none;
}
 @include media-breakpoint-down(xl){
ul{
  padding-left:10px;
}
a{
 padding: 0;
 text-decoration: none;
 margin-right:5px;
}
li{
    margin-bottom:5px;
}
 }

.social-links{
ul{
    padding: 0;
    margin: 0;
    display:flex;
    }
   
 }
}

