
/**************************************************/
/*  CUSTOMIZING DEFUALTS                          */
/**************************************************/
$body-bg:#636363;
$bgcolor:#cccccc;
$font-family-sans-serif:"Poppins", sans-serif;
// $primary:#000000;
$navbar-padding-x:15px;
 
 
.App{
    h1{
        color: #f3f3f3;
        text-align: center;
    }
}

.custom-navbars{
    height: 65px;
    color: $body-bg;
     
  
    li{
        list-style-type: none;
    }
}

/**************************************************/
/*  MARGIN TOP CUSTOM UTILITY                     */
/**************************************************/
$utilities:("custom-margin-top": (property:margin-top, class: mt, values:(0:0,1:0.4rem,2:0.8rem,3:1.2rem,4:1.6rem,5:2rem),),);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


