@import "./../components/mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../components/animations";

$bg-dark-color-1: $gray-800;
$bg-dark-color: $gray-700;
$dark-light-1: rgba(0, 0, 0, 0.2);
$dark-tertiary: $blue-300;

// $dark-light:#7e7e7e;

//WHITE AND GRAY COLORS
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-950: #0c0c0c;
$black: #000;

//THEME COLORS (dark)
$primary-dark: $gray-950;
$secondary-dark: $gray-700;
$tertiary-dark: $blue-300;

//THEME COLORS (light)
$primary: #d3e3fc;
$secondary: $gray-100;
$tertiary: $blue-500;
$light-green-color: #00887a;

//$nav-link-color: rgb(246, 13, 13);

.dark {
  //background:$black
  color: $gray-200;
  @include gradient($primary-dark, $secondary-dark);
  //background: $red;
  //animation: bgcoloranimation 5000ms 1000ms linear infinite alternate;

  $nav-link-color: $gray-200;
  $nav-link-hover-color: $gray-100;

  $headings-color: $gray-300;
  $link-color: $gray-300;
  $card-bg: $gray-900;
  $card-cap-bg: $gray-900;
  $card-cap-color: $gray-300;

  .navbar,
  .shadow {
    background-color: $secondary-dark;
  }
  ._navbar {
    // .about-me {
    //   color: $gray-100;
    // }

    @media (max-width: 768px) {
      ._collapsable {
        background: hsla(0, 0%, 0%, 0.85);
      }

      li {
        border-bottom: 1px solid $gray-600;
      }
    }

    @media (max-width: 1024px) {
      li {
        border-bottom: 1px solid $gray-700;
      }

      ._navbar-toggler.collapsed .toggler-icon {
        background-color: $gray-600;
        border: 1px $gray-500;
      }
    }
    .switch-toggle {
      color: $white;
    }
    .bi-twitter {
      color: $blue-400;
    }
    .bi-linkedin {
      color: $blue-600;
    }
    .bi-github {
      color: $gray-100;
    }
    .bi-whatsapp {
      color: $green-700;
      font-weight: bold;
    }

    .social-links a:hover {
      color: $gray-600;
    }
  }

  //About
  .display-2 {
    &--about_me {
      color: $gray-300;
    }
  }
  //Projects
  ._project {
    color: $gray-200;
  }
  //IMPORT BOOTSTRAP
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
}

.light {
  @include gradient($primary, $secondary);
  animation: bgcoloranimation_light 5000ms 1000ms linear infinite alternate;

  $headings-color: $gray-800;
  $link-color: $gray-800;

  $nav-link-color: $gray-800;
  $nav-link-hover-color: #037e72;

  //    //Toggler Icon
  //    $navbar-light-toggler-icon-bg: gold;
  //    $navbar-light-toggler-border-color:gold;

  //Navbar
  .navbar,
  .shadow {
    background-color: $primary;
  }
  ._navbar {
    .navbar-brand h1 {
      color: #025f56;
    }
    .navbar-brand h1:hover {
      color: #037e72;
      transform: translateX(-3px);
    }
    ._collapsable {
      .navbar-nav .nav-link:hover {
        transform: translateY(1.5px);
      }
    }
    @media (max-width: 768px) {
      ._collapsable {
        background: rgba(0, 0, 0, 0.05);
      }

      li {
        border-bottom: 1px solid $gray-300;
      }
    }

    @media (max-width: 1024px) {
      li {
        border-bottom: 1px solid $gray-400;
      }

      ._navbar-toggler.collapsed .toggler-icon {
        background-color: $gray-700;
      }
    }

    .bi-twitter {
      color: $blue-400;
    }
    .bi-linkedin {
      color: $blue-600;
    }
    .bi-github {
      color: $gray-800;
    }
    .bi-whatsapp {
      color: $green-500;
    }
  }
  //Projects
  ._project {
    color: $gray-800;
  }

  //IMPORT BOOTSTRAP
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
}
