@import "./../components/mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//THEME COLORS (dark)
$bg-dark-color-1: #000000e0;
$bg-dark-color: #3a3a3adf;
$dark-light-1: rgba(0, 0, 0, 0.2);
$pink: #cf1767;

// $dark-light:#7e7e7e;

//WHITE AND GRAY COLORS
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $bg-dark-color-1;
$secondary: $bg-dark-color;
$tertiary: $pink;

//$nav-link-color: rgb(246, 13, 13);

.dark {
  //background:$black

  @include gradient($primary, $secondary);
  $nav-link-color: $gray-200;
  $nav-link-hover-color: $gray-100;

  $headings-color: $gray-300;
  $link-color: $gray-300;

  ._navbar {
    @media (max-width: 768px) {
      ._collapsable {
        background: hsla(0, 0%, 0%, 0.85);
      }

      li {
        border-bottom: 1px solid $gray-600;
      }
    }

    @media (max-width: 1024px) {
      li {
        border-bottom: 1px solid $gray-700;
      }

      ._navbar-toggler.collapsed .toggler-icon {
        background-color: $gray-600;
        border: 1px $gray-500;
      }
    }
    .switch-toggle {
      color: $white;
    }
    .bi-twitter {
      color: $blue-400;
    }
    .bi-linkedin {
      color: $blue-600;
    }
    .bi-github {
      color: $gray-100;
    }
  }
  //IMPORT BOOTSTRAP
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
}

.light {
  @include gradient($gray-300, $gray-100);
  $headings-color: $gray-900;
  $link-color: $gray-900;

  $nav-link-color: $gray-900;
  $nav-link-hover-color: $gray-700;

  //    //Toggler Icon
  //    $navbar-light-toggler-icon-bg: gold;
  //    $navbar-light-toggler-border-color:gold;
  ._navbar {
    @media (max-width: 768px) {
      ._collapsable {
        background: rgba(0, 0, 0, 0.05);
      }

      li {
        border-bottom: 1px solid $gray-300;
      }
    }

    @media (max-width: 1024px) {
      li {
        border-bottom: 1px solid $gray-400;
      }

      ._navbar-toggler.collapsed .toggler-icon {
        background-color: $gray-700;
      }
    }

    .bi-twitter {
      color: $blue-400;
    }
    .bi-linkedin {
      color: $blue-600;
    }
    .bi-github {
      color: $gray-800;
    }
  }

  //IMPORT BOOTSTRAP
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
}
